@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html {
  /* Colors */
  --primary-clr: rgb(49, 150, 105);
  --dark-clr: rgb(12, 14, 24);

  /* Fonts */
  --fs-title: 2.75rem;
  --fs-word-count: 2.25rem;
  --fs-reg: 1.6rem;

  --ff-reg: "VT323", monospace;
  --fw-reg: 400;
  --fw-bold: 700;

  /* Spacing */
  --padding-large: 2em;
  --padding-small: 1em;
  --textarea-height: 250px;
}

@media (min-width: 700px) {
  html {
    --fs-title: 3.5rem;
    --fs-word-count: 2.75rem;
    --fs-reg: 2rem;
    --textarea-height: 200px;
  }
}

html,
body {
  background: var(--dark-clr);
  color: var(--primary-clr);
  margin: 0;
  padding: 0;
  padding-top: var(--padding-small);
  font-family: var(--ff-reg);
  font-weight: var(--fw-reg);
  text-align: center;
}

/* Typography */

h1 {
  font-size: var(--fs-title);
  margin-top: 0;
}

h2 {
  font-size: var(--fs-word-count);
}

textarea,
button,
h4 {
  margin: 0.5em 0;
  font-family: var(--ff-reg);
  font-size: var(--fs-reg);
}

button {
  font-weight: var(--fw-bold);
  display: block;
  margin: 0 auto;
  border: none;
  background: #fff;
  background: var(--primary-clr);
  padding: 0.5em var(--padding-small);
  text-transform: uppercase;
}


textarea {
  font-family: var(--ff-reg);
  font-size: var(--fs-reg);
  border: 3px solid var(--dark-clr);
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  outline: none;
  height: var(--textarea-height);
  background: var(--primary-clr);
  padding: 10px;
}

textarea:focus {
  border: 3px solid firebrick;
}